# MongoDB Connection String
# Format: mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority
# Hint: To run the automated test scripts, the database connection string in .env.local and .env.test must be identical.
#
# If MongoDB runs on your local machine:
# MONGODB_URI="mongodb://localhost:27017/"
#
# If you operate VS Code in a Dev Container and MongoDB runs inside a Docker container, use the following:
# MONGODB_URI="mongodb://host.docker.internal:27017/"
MONGODB_URI="mongodb://localhost:27017/"

# MongoDB Database Name
# Hint: To run the automated test scripts, the database name in .env.local and .env.test must be identical.
MONGODB_NAME="simubank_test"

