# MongoDB Connection String
# Format: mongodb+srv://<username>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"
MONGODB_URI="mongodb://localhost:27017/"
MONGODB_NAME="simubank_test"

# Next-Auth Secret
# Generate a new secret with: 
#    bash:          openssl rand -base64 32
#    PowerShell:    $bytes = New-Object -TypeName byte[] -ArgumentList 32; [System.Security.Cryptography.RandomNumberGenerator]::Create().GetBytes($bytes); [System.Convert]::ToBase64String($bytes)
NEXTAUTH_SECRET="<your-auth-secret>"

# Application URL
NEXTAUTH_URL="http://localhost:3000"

# Database Provider
# Options: mongodb, msaccess
DB_PROVIDER="mongodb"

# MS Access Database Path
MSACCESS_PATH="<path-to-your-database>.accdb"